.nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  font-family: "HelveticaNeue-light";
}

.sidebar{
  background-color: white;
  border: black 1px solid;
  height: 230px;
  width: 15%;
  margin-left: 10%;
  margin-top:180px;
  padding: 2%;
  padding-top: 40px;
  position: fixed;
  color:black;
}

a {
  color: black;
}

.sidebar li {
  height: 18px;
  margin-top: 5px;
  padding: 1px;
  list-style-type: none;
  font-size: 16px;
  text-decoration: none; border: solid 1px transparent;
}
      .sidebar li :hover {
        color: rgb(0, 0, 0);
        padding: 1px;
        border: solid 1px;
      } 

.nav input[type=text] {
  border: 1px black solid;
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
}

.content{
  background-color: white;
  border:white 0px solid;
  height: 100%;
  width: 70%;
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 40px;
}

.sidebar, .content {
    display: inline-block;
}

.header{
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.stuff{
  font-size: 14px;
  line-height: 1.4em;
  width: 100%;
}

div{
  display: block;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


img {
  max-width:100%;
  height:auto;
}

/* home page */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* about page*/
#myphoto{
  display: block;
  float: left;
  margin-right: 20px;
}

/* portfolio page*/
.portfoliogrid{
  display:inline;
}

/* turns it into a 3x3 grid*/
article{
  display:block;
}

ul {
  list-style-type: none;
  display: inline-block;
}

article.thumb-article, div .thumb-article{
	display:block;
	float:left;
	width:32%;
	margin-right:1%;
	position:relative;
	line-height:0px;
	margin-bottom:1%;
	transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
}
  
article.thumb-article:hover, div.thumb-article:hover{
	opacity:.5;	
	filter: alpha(opacity=5); 
  -ms-filter: "progid:DXImageTransform.Microsoft.alpha(opacity=8)"; }
