.nav{
  width: 1500px;
  height: 1000px;
  display: block;
}

.sidebar{
  background-color: red;
  border: black 1px solid;
  height: 150px;
  width: 200px;
  margin-left: 100px;
  margin-top: 250px;
  padding: 20px;
}

.sidebar li {
  width: 150px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
}

.content{
  background-color: blue;
  border: black 1px solid;
  height: 1000px;
  width: 600px;
  margin: 10px;
}

.sidebar, .content {
    display: inline-block;
}
